{% extends 'core/base.html' %} 
{%block title%}Add Product{%endblock%}

{% block content %}
<div style="margin: 0 auto; width: fit-content; text-align:centre; background-color: rgba(32, 30, 30, 0.971); border: 2px solid orange; padding: 10px;">
<h1>Add Product</h1>

<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

    <button style="height: 30px; width: 250px; background-color: orangered; color: white;">Submit</button>

</form>
</div>
{%endblock%}