{% extends 'core/base.html' %} 
{%block title%}My account{%endblock%}

{% block content %}
<div style="margin: 0 auto; width: fit-content; text-align:centre; background-color: rgba(56, 53, 53, 0.971); border: 2px solid orange; padding: 10px;">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>My Account</h1>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-primary btn-sm" href="{% url 'logout' %}" role="button">Logout</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}