{% extends 'core/base.html' %} 
{%block title%}SignUp{%endblock%}

{% block content %}
<div style="margin: 0 auto; width: fit-content; text-align:centre; background-color: rgba(56, 53, 53, 0.971); border: 2px solid orange; padding: 10px;">
<h1 class="text-2xl">Sign up</h1>

<form method="post" action=".">
    {% csrf_token %}

    {{form.as_p }}
    <button style="height: 30px; width: 250px; background-color: white; color: black;">SignUp</button>
    <a href="{% url 'login' %}">Already have an account?</a>
</form>
</div>
{%endblock%}