{% extends 'core/base.html'%}
{%block title%}About{%endblock%}
{% block content %}
<section class="about" id="about">

      

    <div style="color:white ;" class=" text-center">
      <h2>
        About Us
      </h2>

      <p style="color:white ;">
        We're a startup e-commerce site that aims at connecting the talent of local artisans to the masses by building this platform for them to directly connect with the buyers
      </p>

      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter stats-no"></span>
            Satisfied Customers
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span data-purecounter-start="0" data-purecounter-end="79" data-purecounter-duration="1" class="purecounter stats-no"></span>
            Associated Artisans
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
            Products Sold
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span data-purecounter-start="0" data-purecounter-end="68" data-purecounter-duration="1" class="purecounter stats-no"></span>
            Associated Shops
          </div>
        </div> 
      </div>
    </div>

  </section>
  {%endblock%}
