{% load static %}


<!DOCTYPE html>


<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {%block title%}{%endblock%}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/prostyle.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"/>
  <!-- <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet"> -->

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  {% block scripts %}
  {%endblock%}
</head>

<body class="main">

  <!-- ======= Hero Section ======= -->
  {% comment %} <section id="hero" class="hero">
    <div class="container text-center">
      <div class="row">
        <!-- <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="assets/img/logo.png"></a>
        </div> -->
      </div>

      <div class="col-md-12">
        <h1>
          Bringing Local handicrafts at your Doorstep!
        </h1>

        <p class="tagline">
          We strive to connect the local talent of our country to the world at the best prices!
        </p>
        <a class="btn btn-full scrollto" href="#welcome">Get Started Now</a>
      </div>
    </div>

  </section><!-- End Hero --> {% endcomment %}

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

       <div id="logo" class="me-auto">
        {% comment %} <a href="index.html"><img src="{% static 'img/logo-nav.png' %}" alt=""></a> {% endcomment %}
        <!-- Uncomment below if you prefer to use a text image -->
        <h1><a href="#hero">HQ</a></h1>
      </div> 

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'frontpage' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="/about/">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/anvils/">Woodwork</a></li>
              <li><a href="/anvils/">Pottery</a></li>
              <li><a href="/anvils/">Jute</a></li>
              <li><a href="/anvils/">Leather</a></li>
              <li><a href="/anvils/">Textiles</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {%if request.user.is_authenticated %}
            <li><a href="{% url 'myaccount' %}">My account</a></li>
            <li><a href="{%url 'my_store' %}">My Shop</a></li>
            <li><a href="{%url 'cart_view' %}">Cart</a></li>
          {%else%}
          <li><a href="{% url 'signup' %}">Sign Up/Login</a></li>
          {%endif%}
           {% comment %} <li>   <a href="{% url 'become_vendor' %}">Become Vendor</a></li> {% endcomment %}
          <!-- adding a become vendor button here -->
            {% comment %} <li>{% if request.user.is_authenticated %}
              <a href="{% url 'vendor_admin' %}">Vendor Admin</a>
                  {% else %} 
              <a href="{% url 'become_vendor' %}">Become Vendor</a> 
                  {% endif %}
            </li>  {% endcomment %}
          <li><div style="padding-left: 5% ;"class="input-group">
          

            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="bi bi-search"></i>
            </span>
          </div></li>
            
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    {% comment %} <section class="about" id="about">

      

      <div style="color:white ;" class=" text-center">
        <h2>
          About Us
        </h2>

        <p style="color:white ;">
          We're a startup e-commerce site that allows you to shop through a plethora of shops with the least hassle 
        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Satisfied Customers
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="79" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Proposed Warehouses
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Products Sold
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="68" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Associated Shops
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section --> {% endcomment %}
    {% comment %} <div style="color:white ;" class=" text-center">
        <h2>
          Our Newest Products!
        </h2>
    {% block content %}
            <div class="flex flex-wrap">
                {% for product in products %}
                    <div class="product w-1/3 p-2">
                        <div style="color:white">
                            {{ product.title }}
                        </div>
                    </div>
                {% endfor %}
            </div>
    {% endblock %} 
     </div> {% endcomment %}
    <!-- ======= Welcome Section ======= -->
    {% comment %} <div class="display_product">
    {%block content%}
        {%endblock%}
    </div> {% endcomment %}
    <section class="welcome" id="welcome">
      {%block content%}
      {%endblock%}
        {% comment %} {% block content %}
            <div class="flex flex-wrap">
                {% for product in products %}
                    <div class="product w-1/3 bg-gray-200"></div>
                    {{ product.title }}  {% endcomment %}
                    {% comment %} <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ product.title }}</h5>
                          <p class="card-text">{{product.description}}</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div> {% endcomment %}
                      {% comment %} </div>
                {% endfor %}
            </div>
        {% endblock %}  {% endcomment %}
    {% comment %} {%block content%}
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for product in products %}
                <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter}}" class="active"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for product in products %} 
                {% if forloop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item"> 
                {%endif%}
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5 color:white>{{product.title}}</h5>
                  <p>{{product.price}}</p>
                </div>
                </div>
                {%endfor%}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    {%endblock%} {% endcomment %}

      <!-- <h2>Offers You Can't Resist!</h2><br><br> -->
      <!-- <div class="container" id="slider">
        <ul id="slideWrap">
          <li><img src="assets/img/img1.jpg" alt=""></li>
          <li><img src="assets/img/img2.jpg" alt=""></li>
          <li><img src="assets/img/img3.jpg" alt=""></li>
          <li><img src="assets/img/img4.jpg" alt=""></li>
        </ul>
        <a id="prev" style="cursor:pointer;">&#8810;</a>
        <a id="next" style="cursor:pointer;">&#8811;</a>
      </div> -->
      {% comment %} <div class="main-carousel" style="overflow: hidden;" data-flickity='{ "cellAlign": "left", "contain": true, "autoPlay": true }'>
        
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel1.jpg' %}"></div>
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel2.jpg' %}"></div>
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel3.jpg' %}"></div>
          
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel4.jpg' %}"></div>
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel1.jpg' %}"></div>
          <div class="carousel-cell"><img class="image" src="{% static 'img/carousel1.jpg' %}"></div>
       
      </div> {% endcomment %}
    </section>
    <br><br> 
    <!-- End Welcome Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" id="features">

      <div class="">
        <h2 class="text-center">
          Features
        </h2>

        <div class="row">
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="back card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-briefcase"></i>
                </div>
              </div>

              <div>
                <h3>
                ISO Certification
                </h3>

                <p>
                  All of our products are quality verified and come with ISO Certification
                </p>
              </div>
            </div>
          </div>

          <div class="feature-col col-lg-4 col-xs-12">
            <div class="back card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-card-checklist"></i>
                </div>
              </div>

              <div>
                <h3>
                  Quick Delivery
                </h3>

                <p>
                  We deliver most products within a period of 5-7 business days 
                </p>
              </div>
            </div>
          </div>

          <div class=" feature-col col-lg-4 col-xs-12">
            <div class="back card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="bi bi-box-fill"></i>
                </div>
              </div>

              <div>
                <h3>
                  Packaging
                </h3>

                <p>
                  All the products are packaged accordingly so your items reach you in perfect condition.
                </p>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Features Section -->

    <!-- ======= Call to Action Section ======= -->
     <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-start text-center">
            <h2>
              Only for you!
            </h2>

            <p>
              <h1>Get 20% flat off on orders above 1000
              </h1>
              
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="#">Explore More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Call to Action Section -->

    <!-- ======= WOF Section ======= -->
   

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Contact Us</h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div  class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p style="color: white;">Handicrafts HQ Office,Cyber Heights<br>Lucknow</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p style="color: white;">handicraftsHQ@gmail.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p style="color: white;">+91 9982737188</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="/forms/contact.php"   method="post" role="form" class="php-email-form">{% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit" >Send Message</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Handicrafts HQ</strong>. All Rights Reserved
            </p>
            
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Features</a>
              </li>


              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}" type="text/JavaScript" ></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}" type="text/JavaScript"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}" type="text/JavaScript"></script>

  <!-- ************************Dialog Box********************************** -->
     
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class=" text-center modal-header">
            <h5 style="color:black;" class="modal-title" id="exampleModalLabel"> Welcome Back</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" placeholder="Email Address" id="form1Example1" class="form-control" for="form2Example1" />
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" placeholder="Password" id="form1Example2" class="form-control" for="form2Example2" />
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                      <label style="color:rgb(125, 125, 125)" class="form-check-label" for="form1Example3"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!" style="color:grey;">Forgot password?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="button" class="btn w-100 btn-primary btn-block mb-4">Sign in</button>
              
                <!-- Register buttons -->
                <div  class="text-center">
                  <p >Not a member?</p>
                  <p style="display: flex; justify-content:center;"><a style="color: white;" class="btn w-25" data-bs-toggle="modal" data-bs-target="#exampleModal2" href="#!">Register</a></p>
                  <p>or sign up with:</p>
                  <!-- <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-facebook"></i>
                  </button> -->
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="bi bi-facebook"></i>
                  </button>
                  <div class="header-social-links d-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                  </div>
                </div>
              </form>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Reset</button>
            <button type="button" class="btn btn-primary">Submit</button>
        </div> -->
        </div>
    </div>        
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class=" text-center modal-header">
              <h5 class=" modal-title" id="exampleModalLabel2">Join us!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form>
      <!-- Email input -->
      <div class="form-outline mb-4">
      <input type="email" id="form2Example0" placeholder="Username" for="form2Example0" class="form-control" />
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
      <input type="email" id="form2Example1" placeholder="Email Address" for="form2Example1" class="form-control" />
      </div>
  
      <!-- Password input -->
      <div class="form-outline mb-4">
      <input type="password" placeholder="Password" id="form2Example2" class="form-control" />
      </div>

      <!-- Confirm-Password input -->
      <div class="form-outline mb-4">
      <input type="password" id="form2Example3" placeholder="Confirm Password" class="form-control" />
      </div>

      <!-- Register button -->
      <input type="submit" class="btn w-100 btn-primary btn-block mb-4">
              </form>
          </div>
      </div>
  </div>

</body>

</html>